html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
@media screen and (max-width: 414px){
    .main-content{
        font-size: 1.2em;
    }

}
@media screen and (min-width: 415px) and (max-width:800px) {
    .main-content{
        font-size: 1.5em;
    }
}
@media screen and (min-width: 801px) {
    .main-content{
        font-size: 2.5em;
        width: auto ;
    }
    
}
