.super-mario {
  width: 200px;
  left: 30px;
  top: 100px ;
  position:absolute;
}

.goomba {
  width: 100px;
  left: 70px;
  top: 395px;
  position: absolute;
}

.baloon {
  left: 250px;
  position: absolute;
}

.speach {
   font-size: 22px;
   left: 260px;
   top: 130px;
   position: absolute;
   z-index: 1;
 }

.bowser {
  width: 200px;
  left: 550px;
  top: 225px;
  position: absolute;
}